body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 40px;
}

a {
  color: #00B7FF;
}

img{
	max-width: 100%;
}

#single-movie .deets{
	font-size: 20px;
}

#single-movie #desc-header{
	font-size: 40px;
}
